:root {
    --plomo-bajo: #ddd;
    --charcoal: #333;
    --pale: #e7e7e7;
    --pale-oscuro: #CFCFCF;
    --burgundy: #98002e;
    --burgundy-claro: #E60045;
    --burgundy-oscuro: #98002e4a;
    --red: #ed1a3b !important;
    --red-degradado: linear-gradient(120deg, #98002e, #ed1a3b);
    --slate: #657c91;
    --slate-oscuro: #6c757d;
    --slate-claro: #9BBEDE;
    --slate-transparente: #9bbede4a;
    --gold: #df8639;
    --gold-claro: #EB8E3D;
    --gold-oscuro: #C47733;
    --emerald: #218f8b;
    --emerald-claro: #32DBD6;
    --emerald-oscuro: #218f8b69;
    --ocean: #02a5e2;
    --ocean-claro: #02B0F0;
    --ocean-oscuro: #0278A3;
    --white: #fff !important;
    --fondo: #fafbfd;
    --fondo-oscuro: #E1E1E3;
    --green-excel: #1D6F42;
    --borde-oscuro: #7070701c;
}


/*SOMBRA*/
.sombra-suave {
    box-shadow: -1px 1px 6px 4px rgba(0, 0, 0, 0.1);
    position: relative !important;
    z-index: 100 !important;
}

.flex-align-center { 
    flex-direction: row !important;
    align-items: center !important;
}

/*TEXTO*/
.text-delgado {
    font-weight: 300!important;
}

.text-medio {
    font-weight: 400 !important;
}

.text-grueso {
    font-weight: 600 !important;
}

/*BORDER*/

.border-oscuro {
    border: 1px solid var(--borde-oscuro);
}

.border-top-oscuro {
    border-top: 2px solid var(--borde-oscuro);
}

.border-bottom-oscuro {
    border-bottom: 2px solid var(--borde-oscuro);
}

.border-top-bottom-oscuro {
    border-top: 2px solid var(--borde-oscuro);
    border-bottom: 2px solid var(--borde-oscuro);
}

.border-punteada {
    border: 1px dashed #ccc!important;
}

.border-botton-burgundy {
    border-bottom: 2px solid var(--burgundy)!important;

}

/*BOTONES*/
.btn:focus {
    /*box-shadow: 0 0 0 0.2rem #99999940!important;*/
    box-shadow: none !important;
}

/*TRAZABILIDAD*/
.order-track {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.order-track-step {
    display: flex;
    height: 7rem;
}

    .order-track-step:last-child {
        overflow: hidden;
        height: 7rem;
    }

        .order-track-step:last-child .order-track-status span:last-of-type {
            display: block;
        }

.order-track-status {
    margin-right: 1.5rem;
    position: relative;
}

.order-track-status-dot {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: var(--ocean);
}

.order-track-status-line {
    display: block;
    margin: 0 auto;
    width: 2px;
    height: 7rem;
    background: var(--ocean);
}

.order-track-text {
    display: flex;
    flex-direction: column;
}

.order-track-text-stat {
    font-size: 16PX;
    font-weight: 500;
    margin-bottom: 3px;
}

.order-track-text-sub {
    font-size: 14px;
    font-weight: 300;
}

.order-track {
    transition: all .3s height 0.3s;
    transform-origin: top center;
}

/*Estilo CARD*/
.card-header{
    background:transparent!important;
}
/*ESTILOS DE LA TABLA*/
.table {
    font-size: 14px !important;
}

.dataTables_wrapper {
    width: 100%;
}

.table thead th{
    border-bottom:none!important;
}

.table td, .table th{
    padding: 8px!important;

}

table.dataTable td:last-child .col {
    display: flex !important;
    justify-content: center !important;
}

.div-page {
    display: flex;
    justify-content: flex-end;
}

.page-item.active .page-link {
    background: var(--pale) !important;
    color: var(--burgundy) !important;
    border-color: var(--pale)!important;
    font-weight:500!important;
}

.page-link{
    color:var(--charcoal)!important;
}


.dataTables_filter {
    display: flex !important;
    justify-content: flex-end !important;
}

.dataTables_wrapper{
    font-size:14px!important;
}

.dataTables_filter label {
    width: 80% !important;
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center;
}

.dataTables_filter label input{
    width: 80%!important;
}

.btn-descargar {
    background: white !important;
    font-size: 14px!important;
    color: var(--charcoal) !important;
    border-left: 3px solid var(--burgundy) !important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    padding: 10px !important;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1) !important;
}

    .btn-descargar i:first-child {
        color: var(--burgundy);
    }

    .btn-descargar:hover {
        background: var(--burgundy) !important;
        color: white !important;
        transition-duration: .5s;
    }


.btn-table-burgundy {
    background: white !important;
    font-size: 14px !important;
    color: var(--charcoal) !important;
    border-radius: .25rem !important;
    /*border-left: 3px solid var(--emerald) !important;*/
    border: 1px solid #70707038 !important;
    padding: 8px !important;
    /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1) !important;*/
}

    .btn-table-burgundy i:first-child {
        color: var(--burgundy);
    }

    .btn-table-burgundy:hover {
        background: var(--pale) !important;
        transition: all 0.3s ease;
        color: var(--burgundy) !important;
        /*transition-duration: .5s;*/
    }

.btn-table-emerald {
    background: white !important;
    font-size: 14px !important;
    color: var(--charcoal) !important;
    border-radius: .25rem !important;
    /*border-left: 3px solid var(--emerald) !important;*/
    border: 1px solid #70707038 !important;
    padding: 8px !important;
    /*box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1) !important;*/
}

    .btn-table-emerald i:first-child {
        color: var(--emerald);
    }

    .btn-table-emerald:hover {
        background: var(--pale) !important;
        transition: all 0.3s ease;
        color: var(--emerald) !important;
        /*transition-duration: .5s;*/
    }

.btn-table-slate {
    background: white !important;
    font-size: 14px !important;
    color: var(--charcoal) !important;
    border-radius: .25rem !important;
    /*border-left: 3px solid var(--emerald) !important;*/
    border: 1px solid #70707038 !important;
    padding: 8px !important;
    /*box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1) !important;*/
}

    .btn-table-slate i:first-child {
        color: var(--slate);
    }

    .btn-table-slate:hover {
        background: var(--pale) !important;
        transition: all 0.3s ease;
        color: var(--slate) !important;
    }

    .btn-table-slate i:hover {
        color: white!important;
    }

.btn-descargar-excel {
    background: white !important;
    font-size: 14px !important;
    color: var(--charcoal) !important;
    border-radius: .25rem !important;
    /*border-left: 3px solid var(--emerald) !important;*/
    border: 1px solid #70707038 !important;
    padding: 8px !important;
    /*box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1) !important;*/
}

    .btn-descargar-excel i:first-child {
        color: var(--green-excel);
    }

    .btn-descargar-excel:hover {
        background: var(--pale) !important;
        transition: all 0.3s ease;
        color: var(--green-excel) !important;
        
    }

.buttons-excel {
    background: white !important;
    color: var(--charcoal) !important;
    border-left: 3px solid var(--green-excel) !important;
    border-top: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    padding: 10px !important;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1) !important;
    background: white !important;
}

    .buttons-excel i:first-child {
        color: var(--green-excel);
    }

.btn-mantenimiento {
    display: flex !important;
    justify-content: center !important;
}

.form-control:focus {
    color: #495057!important;
    background-color: var(--white)!important;
    border-color: #92a2ad!important;
    outline: 0!important;
    box-shadow: 0 0 0 0.2rem rgba(195, 189, 189, 0.25)!important;
}

.fecha-audit {
    color: #9b9b9b!important;
    font-size: 12px!important;
    font-weight: 400!important;
    margin:3px!important;
}

.input-editado {
    font-weight: 600 !important;
    color: var(--slate) !important;
    background: #d2e2f1 !important;
    //background: var(--fondo) !important;
}

.input-readonly {
    background: #e9ecef!important;
}

/*DIV EMP ABREVI*/
.div-nav-emp {
    border-radius: 50% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 80px !important;
    width: 80px !important;
}




/*FLEX*/
.flex-jc-ac {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/*Modal*/
.modal-content{
    border:none!important;
}



/*CHECKBOX*/
.custom-checkbox .custom-control-label::before {
    left: -20px !important;
}

.custom-checkbox .custom-control-label::after {
    left: -20px !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: var(--white) !important;
    border-color: var(--burgundy) !important;
    background-color: var(--burgundy) !important;

}


/*MAYUSCULAS*/
.mayusculas {
    text-transform: uppercase!important;
}

.minusculas {
    text-transform: lowercase !important;
}

/*NOTIFICACION*/
.notif-1 {
    animation: animation-layer-2 5000ms infinite;
}

@keyframes animation-layer-2 {
    0% {
        transform: rotate(0deg);
    }

    8.0% {
        transform: rotate(0deg);
    }

    12.0% {
        transform: rotate(42deg);
    }

    16.0% {
        transform: rotate(-35deg);
    }

    20.0% {
        transform: rotate(0deg);
    }

    23.0% {
        transform: rotate(28deg);
    }

    26.0% {
        transform: rotate(-20deg);
    }

    29.0% {
        transform: rotate(0deg);
    }

    31.0% {
        transform: rotate(16deg);
    }

    33.0% {
        transform: rotate(-12deg);
    }

    35.0% {
        transform: rotate(0deg);
    }

    37.0% {
        transform: rotate(-6deg);
    }

    39.0% {
        transform: rotate(0deg);
    }

    40.0% {
        transform: rotate(6deg);
    }

    44.0% {
        transform: rotate(-3deg);
    }

    49.0% {
        transform: rotate(2deg);
    }

    55.0% {
        transform: rotate(0deg);
    }

    62.0% {
        transform: rotate(1deg);
    }

    70.0% {
        transform: rotate(0deg);
    }
}

/*TOAS Mensaje*/
#toast-agregar {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: var(--charcoal);
    color: var(--white);
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

    #toast-agregar #img {
        width: 50px;
        height: 50px;
        float: left;
        padding-top: 16px;
        padding-bottom: 16px;
        box-sizing: border-box;
        background: var(--emerald);
        color: var(--white);
    }

    #toast-agregar #desc {
        color: var(--white);
        padding:16px;
        overflow: hidden;
        white-space: nowrap;
    }

    #toast-agregar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
    }

#toast-actualizar {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: var(--charcoal);
    color: var(--white);
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

    #toast-actualizar #img {
        width: 50px;
        height: 50px;
        float: left;
        padding-top: 16px;
        padding-bottom: 16px;
        box-sizing: border-box;
        background-color: var(--ocean);
        color: var(--white);
    }

    #toast-actualizar #desc {
        color: var(--white);
        padding: 16px;
        overflow: hidden;
        white-space: nowrap;
    }

    #toast-actualizar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
    }

#toast-eliminar {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: var(--charcoal);
    color: var(--white);
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

    #toast-eliminar #img {
        width: 50px;
        height: 50px;
        float: left;
        padding-top: 16px;
        padding-bottom: 16px;
        box-sizing: border-box;
        background-color: var(--burgundy);
        color: var(--white);
    }

    #toast-eliminar #desc {
        color: var(--white);
        padding: 16px;
        overflow: hidden;
        white-space: nowrap;
    }

    #toast-eliminar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
    }

#toast-retornar {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: var(--charcoal);
    color: var(--white);
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

    #toast-retornar #img {
        width: 50px;
        height: 50px;
        float: left;
        padding-top: 16px;
        padding-bottom: 16px;
        box-sizing: border-box;
        background-color: var(--burgundy);
        color: var(--white);
    }

    #toast-retornar #desc {
        color: var(--white);
        padding: 16px;
        overflow: hidden;
        white-space: nowrap;
    }

    #toast-retornar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
    }

#toast-error {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: var(--charcoal);
    color: var(--white);
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

    #toast-error #img {
        width: 50px;
        height: 50px;
        float: left;
        padding-top: 16px;
        padding-bottom: 16px;
        box-sizing: border-box;
        background-color: var(--gold);
        color: var(--white);
    }

    #toast-error #desc {
        color: var(--white);
        padding: 16px;
        overflow: hidden;
        white-space: nowrap;
    }

    #toast-error.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
    }

#toast-existe {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: var(--charcoal);
    color: var(--white);
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

    #toast-existe #img {
        width: 50px;
        height: 50px;
        float: left;
        padding-top: 16px;
        padding-bottom: 16px;
        box-sizing: border-box;
        background-color: var(--gold);
        color: var(--white);
    }

    #toast-existe #desc {
        color: var(--white);
        padding: 16px;
        overflow: hidden;
        white-space: nowrap;
    }

    #toast-existe.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
    }

#toast-habilitar {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: var(--charcoal);
    color: var(--white);
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

    #toast-habilitar #img {
        width: 50px;
        height: 50px;
        float: left;
        padding-top: 16px;
        padding-bottom: 16px;
        box-sizing: border-box;
        background-color: var(--ocean);
        color: var(--white);
    }

    #toast-habilitar #desc {
        color: var(--white);
        padding: 16px;
        overflow: hidden;
        white-space: nowrap;
    }

    #toast-habilitar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
    }




@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: 350px
    }
}

@keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: 350px
    }
}

@-webkit-keyframes stay {
    from {
        min-width: 350px
    }

    to {
        min-width: 350px
    }
}

@keyframes stay {
    from {
        min-width: 350px
    }

    to {
        min-width: 350px
    }
}

@-webkit-keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@keyframes shrink {
    from {
        min-width: 350px;
    }

    to {
        min-width: 50px;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 60px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 60px;
        opacity: 0;
    }
}

/*TOAS Mensaje FIN*/

/*BREADCRUMB*/
.breadcrumb-bar .breadcrumb-item + .breadcrumb-item::before {
    content: "|";
}
.breadcrumb{
    background:transparent!important;
}
    .breadcrumb .breadcrumb-item a{
        color: var(--slate)!important;
    }
/*BREADCRUMB FIN*/

/*Scroll*/

.scroll-content {
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll-content::-webkit-scrollbar {
    width: 5px; /* Tamaño del scroll en vertical */
}

.scroll-content::-webkit-scrollbar-thumb {
    background: #495057;
    border-radius: 4px;
}


.scroll-content::-webkit-scrollbar-thumb:hover {
    background: #495057;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.scroll-content::-webkit-scrollbar-thumb:active {
    background-color: #495057;
}

.scroll-content::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/*NAV STYLE*/

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none !important;
    border-bottom: 2px solid var(--burgundy) !important;
    font-weight:600!important;
    color: var(--burgundy)!important;
}

.nav-tabs .nav-link {
    border: none !important;
    color: var(--charcoal)!important;
}

    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
        color: var(--burgundy) !important;
        border-color: none !important;
    }

 
/*EDITOR TINYMCE*/

.tox {
    margin: 15px 0px!important;
}

/*EMPRESA */

.fondo-empresa-det {
    background: url(../../img/Home/portada1.jpg);
    background-position: center;
    width: 100%;
    background-size: cover;
    padding: 0px;
    height:140px!important;
}

/*SELECT2 */
.select2-results__options{
    font-size: 13px!important;

}

.select2-container--bootstrap4 {
    width: 100% !important;
}

.select2-container--bootstrap4 .select2-results__option--highlighted, .select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected=true] {
    background: var(--burgundy) !important;
}



.select2-container--bootstrap4.select2-container--focus .select2-selection {
    border: 1px solid #ced4da!important;
    /*-webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);*/
    -webkit-box-shadow: none !important;
    /*box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);*/
    box-shadow: none !important;
}

.select2-results__options {
    overflow-y: scroll;
}

    .select2-results__options::-webkit-scrollbar {
        width: 5px; /* Tamaño del scroll en vertical */
    }

    .select2-results__options::-webkit-scrollbar-thumb {
        background: #495057;
        border-radius: 4px;
    }


        .select2-results__options::-webkit-scrollbar-thumb:hover {
            background: #495057;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }

        .select2-results__options::-webkit-scrollbar-thumb:active {
            background-color: #495057;
        }

    .select2-results__options::-webkit-scrollbar-track {
        background: #e1e1e1;
        border-radius: 4px;
    }

.select2-selection__rendered{
    font-size:14px!important;
}

.select2-search__field {
    font-size: 14px!important;
}

.select2-container .select2-selection--single .select2-selection__clear {
    position: relative!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    width: 15px;
    height: 15px;
    background-color: var(--slate);
    padding:0px;
}
/*EDITAR INPUT FILE*/
.custom-file-label::after {
    content: "Buscar" !important;
}

/*badge Estados*/

.badge-normal {
    Font-size: 14px;
    line-height: 14px;
    background: #98002e29;
    padding: 2px 5px;
    border-radius: 3px;
    color: var(--burgundy);
    font-weight: 600;

}


.badge-burgundy {
    Font-size: 14px;
    line-height: 14px;
    background: #98002e29;
    /*padding: 2px 5px;*/
    border-radius: 3px;
    color: var(--burgundy);
    font-weight: 600;

    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px;
}

.badge-emerald {
    Font-size: 14px;
    line-height: 14px;
    background: #218f8b33;
    padding: 2px 5px;
    border-radius: 3px;
    color: var(--emerald);
    font-weight: 600;

    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px;
}

.badge-slate {
    Font-size: 14px;
    line-height: 14px;
    background: #9bbede73;
    padding: 2px 5px;
    border-radius: 3px;
    color: var(--slate);
    font-weight: 600;

    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px;
}

.badge-charcoal {
    Font-size: 14px;
    line-height: 14px;
    background: var(--fondo-oscuro);
    padding: 2px 5px;
    border-radius: 3px;
    color: var(--charcoal);
    font-weight: 600;

    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px;
}

.badge-ocean {
    Font-size: 14px;
    line-height: 14px;
    /*background: #0278a36b;*/
    background: #0278a34d;
    padding: 2px 5px;
    border-radius: 3px;
    color: var(--ocean-oscuro);
    font-weight: 600;

    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px;
}

.badge-ocean-dark {
    Font-size: 14px;
    line-height: 14px;
    /*background: #0278a36b;*/
    background: #0278a34d;
    padding: 2px 5px;
    border-radius: 3px;
    color: var(--slate-oscuro);
    font-weight: 600;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px;
}


.badge-lila {
    Font-size: 14px;
    line-height: 14px;
    /*background: #0278a36b;*/
    background: #ccccee;
    padding: 2px 5px;
    border-radius: 3px;
    color: var(--charcoal);
    font-weight: 600;

    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px;
}

.badge-gold {
    Font-size: 14px;
    line-height: 14px;
    /*background: #df8639b8;*/
    /*background: #df86398f;*/
    background: #df863952;
    padding: 2px 5px;
    border-radius: 3px;
    color: #6c757d;
    font-weight: 600;

    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px;
}

.badge-gold-dark {
    Font-size: 14px;
    line-height: 14px;
    background: #df863938;
    padding: 2px 5px;
    border-radius: 3px;
    /*color: #333333;*/
    color: #6c757d;
    font-weight: 600;

    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px;
}

    .badge-burgundy > i .badge-emerald > i, .badge-slate > i, .badge-charcoal > i, .badge-ocean > i, .badge-ocean-dark > i, .badge-lila > i, .badge-gold > i, .badge-gold-dark > i {
        font-size: 12px;
        padding: 0px 3px;
    }

/*DropDown*/
.dropdown-item.active, .dropdown-item:active {
    background-color: var(--fondo-oscuro) !important;
}

.dropdown-menu-right-not {
    right: 0!important;
    left: auto!important;
}

.item-not {
    padding: 10px;
    cursor:pointer;
}

    .item-not:hover {
        background: var(--borde-oscuro);
        
        border-radius: 5px;
    }


#NombreEmpresa {
    font-weight: 300;
    font-size: 13px;
}

#select2-selectEmpresas-container .select2-selection__placeholder{
    color: white !important;
}

.counter {
    position: relative;
    top: -12px;
    left: auto;
    z-index: 2;
    padding: 1px 8px;
    margin-left: -10px;
    font-size: 11px;
    color: #fff;
    background-color: #98002e;
    border-radius: 10em;
    /*box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);*/
   
}
/*.counter.counter-lg {
    top: -24px !important;
}*/
.bootstrap-tagsinput {
    display: flex !important;
    width: 100% !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}
.bootstrap-tagsinput span {
         margin: 5px !important;
        background: var(--burgundy)!important;
}

/*DASHBOARD*/
.div-info-dashboard {
    cursor: pointer;
}

.div-info-dashboard:hover {
    border-radius: 5px;
    background:white;
}

/*PERFIL*/
.portada-perfil {
    background: url(../../img/Home/portada1.jpg);
    background-position: center;
    width: 100%;
    background-size: cover;
    padding: 0px;
    height: 190px;
}

.div-abrev-user {
    border-radius: 50% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100px !important;
    width: 100px !important;
}

#CorreoUsuarioPerfil {
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}