@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_LayoutNovedades.cshtml"; // Mantiene el layout si lo necesitas
}

<div class="col-sm-12 bg-white px-3 py-3 border-bottom-oscuro">
    <div class="col-sm-12 col-md-9">
        <h4>Historial de Productos</h4>
    </div>
</div>

<!-- Formulario de Filtros -->
<div class="row px-3 py-3">
    <div class="col-sm-12 col-md-3 py-2">
        <label for="codigo" class="col-form-label">
            <i class="fas fa-barcode px-2 color-red"></i> Código
        </label>
        <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Ingrese código">
    </div>

    <div class="col-sm-12 col-md-3 py-2">
        <label for="color" class="col-form-label">
            <i class="fas fa-palette px-2 color-red"></i> Color
        </label>
        <select class="form-control" id="color" name="color">
            <option value="">-- Seleccione Color --</option>
        </select>
    </div>

    <div class="col-sm-12 col-md-3 py-2">
        <label for="categoria" class="col-form-label">
            <i class="fas fa-tags px-2 color-red"></i> Categoría
        </label>
        <select class="form-control" id="categoria" name="categoria">
            <option value="">-- Seleccione Categoría --</option>
            <option value="Jeans">Jeans</option>
            <option value="Camisas">Camisas</option>
            <option value="Chaquetas">Chaquetas</option>
            <option value="Vestidos">Vestidos</option>
        </select>
    </div>

    <div class="col-sm-12 col-md-3 py-2">
        <label for="modelo" class="col-form-label">
            <i class="fas fa-tshirt px-2 color-red"></i> Modelo
        </label>
        <select class="form-control" id="modelo" name="modelo">
            <option value="">-- Seleccione Modelo --</option>
        </select>
    </div>

    <div class="col-sm-12 col-md-3 py-2">
        <label for="talla" class="col-form-label">
            <i class="fas fa-ruler px-2 color-red"></i> Talla
        </label>
        <select class="form-control" id="talla" name="talla">
            <option value="">-- Seleccione Talla --</option>
            @for (int i = 28; i <= 42; i += 2)
            {
                <option>@i</option>
            }
        </select>
    </div>

    <div class="col-sm-12 col-md-3 py-2">
        <label for="fechaRegistro" class="col-form-label">
            <i class="far fa-calendar-alt px-2 color-red"></i> Fecha de Registro
        </label>
        <input type="date" class="form-control" id="fechaRegistro" name="fechaRegistro">
    </div>

    <div class="col-sm-12 col-md-3 py-2">
        <label for="lote" class="col-form-label">
            <i class="fas fa-box px-2 color-red"></i> Código de Lote
        </label>
        <input type="text" class="form-control" id="lote" name="lote" placeholder="Ingrese código de lote">
    </div>

    <div class="col-sm-12 col-md-3 py-2 d-flex align-items-end">
        <button type="button" class="btn btn-rojo-rojo color-white w-100" id="btnConsultar">
            Consultar <i class="fas fa-search px-2"></i>
        </button>
    </div>
</div>

<div class="col-sm-12 px-1 py-2">
    <div class="row p-2">
        <div class="col-12 bg-white btn-border p-3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="TotalPrenda-tab" data-toggle="tab" href="#PrendaTotal" role="tab" aria-controls="PrendaTotal" aria-selected="false">Prendas</a>
                </li>
                @if (ViewBag.ServicioFtela != 0)
                {
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="FTela-tab" data-toggle="tab" href="#FallasTela" role="tab" aria-controls="FallasTela" aria-selected="true">Falla Tela</a>
                    </li>
                }
                @if (ViewBag.ServicioFLavanderia != 0)
                {
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="FLavanderia-tab" data-toggle="tab" href="#FallasLavanderia" role="tab" aria-controls="FallasLavanderia" aria-selected="false">Falla Lavandería</a>
                    </li>
                }
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="PrendaTotal" role="tabpanel" aria-labelledby="TotalPrenda-tab">
                    <div class="row py-4 px-2">
                        <div class="col-sm-12 px-2 py-2">
                            <h6 class="color-slate negrita"><i class="fas fa-warehouse px-1 color-burgundy"></i> Total de Prendas en buen estado</h6>
                        </div>
                        <div class="col-sm-12 py-2 table-responsive">
                            <table id="tblTotalPrenda" class="table table-hover table-responsive-sm w-100">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="select_all" value="1" id="tblTotalPrenda-select-all" style="width: 25px; text-align: center;"></th>
                                        <th scope="col">Código Lote</th>
                                        <th scope="col">Código</th>
                                        <th scope="col">Categoría</th>
                                        <th scope="col">Modelo</th>
                                        <th scope="col">Color</th>
                                        <th scope="col">Talla</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Fecha Registro</th>
                                        <th scope="col">Opc</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="FallasTela" role="tabpanel" aria-labelledby="FTela-tab">
                    <div class="row py-4 px-2">
                        <div class="col-sm-12 px-2 py-2">
                            <h6 class="color-slate negrita"><i class="fas fa-cut px-1 color-burgundy"></i> Total Falla Tela</h6>
                        </div>
                        <div class="col-sm-12 py-2 table-responsive">
                            <table id="tblFallasTela" class="table table-hover table-responsive-sm w-100">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="select_all" value="1" id="tblFallasTela-select-all" style="width: 25px; text-align: center;"></th>
                                        <th scope="col" style="width: 65px!important;">Id</th>
                                        <th scope="col">Código Lote</th>
                                        <th scope="col">Código</th>
                                        <th scope="col">Categoría</th>
                                        <th scope="col">Modelo</th>
                                        <th scope="col">Color</th>
                                        <th scope="col">Talla</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Fecha Registro</th>
                                        <th scope="col">Opc</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="FallasLavanderia" role="tabpanel" aria-labelledby="FLavanderia-tab">
                    <div class="row py-4 px-2">
                        <div class="col-sm-12 px-2 py-2">
                            <h6 class="color-slate negrita"><i class="fas fa-tint px-1 color-burgundy"></i> Total Falla Lavandería</h6>
                        </div>
                        <div class="col-sm-12 py-2 table-responsive">
                            <table id="tblFallasLavanderia" class="table table-hover table-responsive-sm w-100">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="select_all" value="1" id="tblFallasLavanderia-select-all" style="width: 25px; text-align: center;"></th>
                                        <th scope="col" style="width: 65px!important;">Id</th>
                                        <th scope="col">Código Lote</th>
                                        <th scope="col">Código</th>
                                        <th scope="col">Categoría</th>
                                        <th scope="col">Modelo</th>
                                        <th scope="col">Color</th>
                                        <th scope="col">Talla</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Fecha Registro</th>
                                        <th scope="col">Opc</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- Cierre de .tab-content -->
        </div>
    </div>
</div>


<!--DataTables JS-->
<script src="~/js/datatables/jquery.datatables.min.js"></script>
<script src="~/js/datatables/datatables.bootstrap4.min.js"></script>
<script src="~/js/datatables/datatables.buttons.min.js"></script>
<script src="~/js/datatables/buttons.bootstrap4.min.js"></script>
<script src="~/js/ajax/jszip.min.js"></script>
<script src="~/js/ajax/pdfmake.min.js"></script>
<script src="~/js/ajax/vfs_fonts.js"></script>
<script src="~/js/datatables/buttons.html5.min.js"></script>
<script src="~/js/datatables/buttons.print.min.js"></script>
<script src="~/js/datatables/buttons.colvis.min.js"></script>


<!-- jQuery debe cargarse antes de cualquier otro script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--DataTables CSS-->
<link href="~/css/bootstrap/bootstrap4.0.0.min.css" rel="stylesheet" />
<link href="~/css/datatables/datatables.bootstrap.min.css" rel="stylesheet" />
<link href="~/css/datatables/responsive.bootstrap.min.css" rel="stylesheet" />




<script>
    $(document).ready(function () {
        console.log("jQuery cargado correctamente");
        cargarTable();
    });

    $(document).ready(function () {
        cargarTable();
    });

    function cargarTable() {
        $('#tblInventario').DataTable({
            dom: 'Bfrtip',
            "destroy": true,
            "order": [[7, 'desc']],
            buttons: [
                {
                    extend: 'excelHtml5',
                    filename: 'Inventario',
                    title: 'Inventario',
                    text: '<i class="fas fa-file-excel px-2"></i> Exportar',
                    titleAttr: 'Excel',
                    attr: { title: 'Descargar', class: 'btn btn-success align-right my-1 mx-3' }
                }
            ],
            "ajax": {
                "type": "GET",
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "url": '@Url.Action("GetInventario", "Inicio")',
                "dataSrc": ""
            },
            "language": {
                "decimal": "", "emptyTable": "No hay información", "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 Entradas", "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "lengthMenu": "Mostrar _MENU_ Entradas", "loadingRecords": "Cargando...",
                "processing": "Procesando...", "search": "Buscar:", "zeroRecords": "Sin resultados encontrados",
                "paginate": { "first": "Primero", "last": "Último", "next": "Siguiente", "previous": "Anterior" }
            },
            "columns": [
                { "data": "Codigo_Lote", "autoWidth": true },
                { "data": "Codigo", "autoWidth": true },
                { "data": "Categoria", "autoWidth": true },
                { "data": "Modelo", "autoWidth": true },
                { "data": "Color", "autoWidth": true },
                { "data": "Talla", "autoWidth": true },
                { "data": "Cantidad", "autoWidth": true },
                { "data": "Fecha_Registro", "autoWidth": true },
                {
                    "data": null, "render": function (data, type, row, meta) {
                        return '<button class="btn btn-primary" onclick="verDetalles(\'' + data.Codigo_Lote + '\')">Detalles</button>';
                    }
                }
            ],
            "sDom": "<'row '<'col-sm-12 col-md-6 my-2'l><'col-sm-12 col-md-6 my-2 'f>><'row d-flex justify-content-end 'B<'col-sm-12 'tr>><'row py-2'<'col-sm-12 col-md-6 'i><'col-sm-12 col-md-6 div-page'<'#colvis'>p>>"
        });
    }

    function verDetalles(codigoLote) {
        alert("Mostrando detalles del lote: " + codigoLote);
    }
</script>
